# Logs
*.log
npm-debug.log
yarn-error.log
.phpunit.result.cache

# Arquivos sensíveis
.env
.env.*
.env.backup
.env.production
storage/*.key

# Diretórios do Laravel
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/bootstrap/cache/*.php
/storage/pail
/storage/logs/*.log
/storage/framework/*
/storage/app/public/*

# Caches e artefactos de build
.phpunit.result.cache
/.phpunit.cache
/resources/js/.vite

# IDEs e ferramentas de desenvolvimento
/.vscode
/.idea
/.fleet
/.zed

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos diversos
Homestead.json
Homestead.yaml
auth.json

# Exceção para manter exemplo de .env
!.env.example
